.legend {
	background: rgba(255, 255, 255, 0.75);
	padding: 5px;
	width: 80%;
	padding-bottom: 30px;
}

.legend-item {
	min-width: 98%;
	position: absolute;
	text-align: center;
}

#map-editor {
	width: 75%;
	margin-left: 5px;
}

#mapid {
	width: 100%;
	height: 500px;
	max-height: 500px;
}

#maplogs {
	height: 104px;
	max-height: 104px;
	width: 100%;
	max-width: 100%;
}

#agent-distances, #agent-distances-selfish {
	height: 56px;
	max-height: 56px;
}

#back-timestamp-button {
	display: none;
}

#num-block-random-link, #num-block-planned-link, #toggling-probability {
	text-align: right;
}

#distance-chart, #distance-chart-selfish {
	width: 100%;
}
